<!DOCTYPE html>
<html>
<head>
	<title>Integrantes Equipo Docente IN3501-2</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Integrantes Equipo Docente IN3501</h1>
	
	<h2>Profesor de Cátedra</h2>
	<h3>Ángel Jiménez Molina</h3>
	<h3>Iván Díaz Campos</h3>
	<h3>Victor Hernández M.</h3>

	<h2>Profesor Auxiliar</h2>
	<h3>Javiera Ovalle</h3>
	<h3>Jorge Pinto</h3>
	<h3>José Canto</h3>
	<h3>Macarena V. Osorio</h3>

	<h2>Ayudante</h2>
	<h3>Carlos Vega</h3>
	<h3>Catalina Martin D.</h3>
	<h3>Eduardo Valerio C.</h3>
	<h3>Juan Gutiérrez</h3>
	<h3>Matías Rojas</h3>
	<h3>Nicolás Villa</h3>
	<h3>Sebastián Donoso</h3>
	<h3>Sofía Herrera</h3>
	<h3>Victoria Arce</h3>

	<a href="{%url 'index' %}">Hola, soy un enlace a index</a>
	<br>
	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>


</body>
</html>